
.info{
    background-color: rgb(255, 255, 255);
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.main_heading_about{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.main_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.underline_about{
    border: 2px solid rgb(0, 0, 255);
    height: 10px;
    width: 100px;
}
.main_information{
    display: grid;
    margin-top: 10%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}
.about_content-title{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.about_content-detail-paragraph{
    font-size: 1.2rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}
.about-skill{
    display: flex;
    flex-wrap: wrap;
}
.skill_tree-skill{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    background: rgba(102, 173, 127, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

