*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* body{
    background-color: black;
} */

.header{
    /* border: 10px solid red; */
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    margin: auto;
    /* border : 1px solid red; */
}
.header_name{
    display: flex;
    align-items: center;
    /* cursor: pointer; */
    color: #333;
    transition: color .3s;
    width: 40%;
}
.header_photo{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    display: block;
}
.my-name{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.header_menu{
    display: block;
    width: 50%;
    /* border: 1px solid black; */
}
.header_items{
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 1em;
    margin-block-end: 1em;
    /* border: 1px solid black; */
}
.links{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 7px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #444444; 
}
.header_link{
    padding: 0rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}
.footer_main{
    max-width: 120rem;
    margin: auto;
    width: 80%;
}
.main-footer_upper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.main-footer_about-heading{
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-footer_social {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7;
}
.main-footer_social-icons{
    margin-top: 1rem;
}
.footer_icon{
    text-decoration: none;
    color: inherit;
}
.s_links{
    margin-right: 1rem;
    width: 2.5rem;
}
.main-footer_lower {
    padding: 1rem 0;
    border-top: 1px solid #444;
    color: #000000;
    font-size: 1rem;
    text-align: center;
}
.main-footer_description{
    margin-top: 1.5rem;
    width: 40%;
}
a{
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}