.project_main{
    background-color: rgb(125, 125, 125);
}
.project{
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.main_heading-project{
    justify-content: center;
    align-items: center;
}
.main_heading-project-topic{
    font-size: 2rem;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
.main_heading-project-sub-topic{
    margin-top: 2%;
    letter-spacing: 2px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
.main_content-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_content-project-img{
    overflow: hidden;
}
.projects__row-img{
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}
.main_content-project-row{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom:5rem;
    margin-top:5rem;
}
.main_content-project-content-heading{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}
.main_content-project-content-paragraph{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}
.main_content-project-content-button-code{
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 6rem;
}
.main_content-project-content-button-site{
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 5rem;
}