.project_main{
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}
.project{
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.main_heading-project{
    justify-content: center;
    align-items: center;
}
.main_heading-project-topic{
    font-size: 2rem;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
.main_heading-project-sub-topic{
    margin-top: 2%;
    letter-spacing: 2px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
.main_content-project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.main_content-project-img{
    overflow: hidden; 
} 
.projects__row-img{
    width: 90%;
    min-width: 30rem;   
}
.main_content-project-row{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom:5rem;
    margin-top:5rem;
}
.main_content-project-content-heading{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}
.main_content-project-content-paragraph{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}
/* .main_content-project-content-button-code{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 6rem;
} */
.main_content-project-content{
    display: flex;
    flex-direction: column;
}
.main_content-project-content-button-site{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
}
.main_content-project-content-button-site:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
}
.main_content-project-content-button-code:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
}